.buildings-count {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 140px;
}

.buildings-count__top {
  display: flex;
  align-items: center;
  gap: 14px;
}

.buildings-count__value {
  color: #fff;
  font-family: Anybody;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buildings-count__icon {
  margin-top: 4px;
}

.buildings-count__label {
  color: #fff;
  font-family: Anybody;
  font-size: 13.813px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -6px;
}

@media (max-width: 1024px) {
  .buildings-count__value {
    font-size: 56px;
  }
}
